---

# Config file for envoy-logger

# Your login info for enphaseenergy.com
enphaseenergy:
  email: your-email@example.com
  password: your-enphase-password

# Information about your specific Envoy instance.
# https://enlighten.enphaseenergy.com will report the serial number under the "IQ-Gateway" information
envoy:
  serial: 482537073156
  url: https://192.168.30.42

  # Give your envoy a name.
  # All points logged will be tagged with "source=<tag>"
  # Useful if you have multiple envoys
  tag: power-meter

# How to access InfluxDB
influxdb:
  url: http://localhost:8086
  token: your-influxdb-token
  org: home

  # Which InfluxDB bucket to send measurements.
  # This can be useful to control different data-retention rules
  # alternatively use the "bucket" key if you want everything to be sent to the
  # same bucket
  bucket_hr: envoy_high_rate
  bucket_lr: envoy_low_rate
  # bucket: envoy_all_data

# How to access Prometheus
prometheus:
  # Change this to an open port on the host that is running envoy-logger
  # Then configure a scraper in prometheus.yml with the hostname and port of the host running envoy-logger
  listening_port: 1234

# Polling intervals (in seconds)
# interval: how often to poll power data (default: 60)
#   Community recommends no faster than once per minute for /production.json
# inverter_interval: how often to poll inverter data (default: 300)
#   Inverters self-report every ~1-5 min; the endpoint is slow and unreliable
polling:
  interval: 60
  inverter_interval: 300

# Inverter metadata auto-generated from Enlighten array layout API.
# Tags: array (A/B/C), face (rear/front), location (rear/front-left/front-right),
#        x/y (global coordinates for spatial visualization)
inverters:
  # Array A - Rear (18 panels, azimuth 233° SW-facing)
  "542544002367":
    tags:
      array: A
      face: rear
      location: rear
      x: 1000
      y: 666
  "542544003322":
    tags:
      array: A
      face: rear
      location: rear
      x: 900
      y: 666
  "542544003447":
    tags:
      array: A
      face: rear
      location: rear
      x: 800
      y: 666
  "542544002221":
    tags:
      array: A
      face: rear
      location: rear
      x: 700
      y: 666
  "542544003240":
    tags:
      array: A
      face: rear
      location: rear
      x: 600
      y: 666
  "542544003215":
    tags:
      array: A
      face: rear
      location: rear
      x: 501
      y: 666
  "542544005196":
    tags:
      array: A
      face: rear
      location: rear
      x: 401
      y: 666
  "542544002363":
    tags:
      array: A
      face: rear
      location: rear
      x: 301
      y: 666
  "542544005186":
    tags:
      array: A
      face: rear
      location: rear
      x: 201
      y: 666
  "542544003201":
    tags:
      array: A
      face: rear
      location: rear
      x: 101
      y: 666
  "542544002351":
    tags:
      array: A
      face: rear
      location: rear
      x: 950
      y: 466
  "542544002231":
    tags:
      array: A
      face: rear
      location: rear
      x: 850
      y: 466
  "542544003255":
    tags:
      array: A
      face: rear
      location: rear
      x: 750
      y: 466
  "542544003249":
    tags:
      array: A
      face: rear
      location: rear
      x: 650
      y: 466
  "542544003220":
    tags:
      array: A
      face: rear
      location: rear
      x: 501
      y: 466
  "542544002319":
    tags:
      array: A
      face: rear
      location: rear
      x: 301
      y: 466
  "542544002361":
    tags:
      array: A
      face: rear
      location: rear
      x: 201
      y: 466
  "542544003979":
    tags:
      array: A
      face: rear
      location: rear
      x: 251
      y: 316

  # Array B - Front-left (6 panels, azimuth 53° NE-facing)
  "542544003430":
    tags:
      array: B
      face: front
      location: front-left
      x: 1190
      y: 490
  "542544003328":
    tags:
      array: B
      face: front
      location: front-left
      x: 1290
      y: 290
  "542544003267":
    tags:
      array: B
      face: front
      location: front-left
      x: 1190
      y: 290
  "542544003453":
    tags:
      array: B
      face: front
      location: front-left
      x: 1390
      y: 91
  "542544003324":
    tags:
      array: B
      face: front
      location: front-left
      x: 1290
      y: 91
  "542544002575":
    tags:
      array: B
      face: front
      location: front-left
      x: 1190
      y: 91

  # Array C - Front-right (6 panels, azimuth 53° NE-facing)
  "542544002035":
    tags:
      array: C
      face: front
      location: front-right
      x: 773
      y: 117
  "542544003570":
    tags:
      array: C
      face: front
      location: front-right
      x: 972
      y: 118
  "542544003797":
    tags:
      array: C
      face: front
      location: front-right
      x: 873
      y: 118
  "542544003195":
    tags:
      array: C
      face: front
      location: front-right
      x: 1072
      y: -82
  "542544003323":
    tags:
      array: C
      face: front
      location: front-right
      x: 972
      y: -82
  "542544002227":
    tags:
      array: C
      face: front
      location: front-right
      x: 873
      y: -82
